.root{
	max-width: 640px;
	height: 100vh;
	box-sizing: border-box;
	padding: 0 0.8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}
.head-tx{
	width: 1.4rem;
	height: 1.4rem;
	margin: 0.9rem;
}
.head-tx>img{
	width: 1.4rem;
	height: 1.4rem;
}
.root>p{
	width: 100%;
	height: 0.75rem;
	font-size: 0.68rem;
	text-align: center;
	line-height: 100%;
	
}
.shuru-box{
	width: 100%;
	height: 3.28rem;
	margin: 0.5rem 0;
}
.shuru-top{
	width: 100%;
	height: 50%;
	display: flex;
	border-bottom: 0.01rem solid #707070;
}
.shuru-left{
	width: 1.44rem;
	height: 100%;
	font-size: 0.5rem;
	line-height: 1.7rem;
	color: #707070;
}
.shuru-right{
	width: calc(100% - 1.44rem);
	height: calc(100% - 0.02rem);
	border: none;
	font-size: 0.5rem;
	margin-left: 0.64rem;
}
.shuru-bottom{
	width: 100%;
	height: 50%;
	display:flex;
	justify-content: space-between;
	border-bottom: 0.01rem solid #707070;

}
.shuru-bottom-left{
	height: 100%;
	color: #707070;
	font-size: 0.68rem;
	line-height: 1.7rem;
	
	
}
.shuru-bottom-right{
	height: 100%;
	color: #2ba7e3;
	font-size:	0.44rem;
	line-height: 1.7rem;

}
.btn{
	width: 100%;
	height: 1.5rem;
	background: #ff6801;
	border-radius: 4%;
	margin: 0.5rem 0 ;
}