.root{
	max-width: 640px;
	height: 100vh;
	box-sizing: border-box;
	padding: 0 0.8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}
.head-tx{
	width: 1.4rem;
	height: 1.4rem;
	margin: 0.9rem;
}
.head-tx>img{
	width: 1.4rem;
	height: 1.4rem;
}
.root>p{
	width: 100%;
	height: 0.75rem;
	font-size: 0.68rem;
	text-align: center;
	line-height: 100%;
	
}
.shuru-box{
	width: 100%;
	height: 3.28rem;
	margin: 0.5rem 0;
}
.shuru-top{
	width: 100%;
	height: 50%;
	display: flex;
	border-bottom: 0.01rem solid #d4d4d4;
}
.shuru-left{
	width: 1.44rem;
	height: 100%;
	font-size: 0.5rem;
	line-height: 1.7rem;
	color: #707070;
}
.shuru-right{
	width: calc(100% - 1.44rem);
	height: calc(100% - 0.02rem);
	border: none;
	font-size: 0.5rem;
	margin-left: 0.64rem;
}
.shuru-bottom{
	width: 100%;
	height: 50%;
	display:flex;
	justify-content: space-between;
	border-bottom: 0.01rem solid #d4d4d4;

}
.shuru-bottom-left{
	height: 100%;
	width:70%;
	color: #707070;
	font-size: 0.68rem;
	line-height: 1.7rem;
	outline: none;
	border: none;
}
.shuru-bottom-right{
	height: 100%;
	color: #2ba7e3;
	font-size:	0.44rem;
	line-height: 1.7rem;

}
.btn{
	width: 100%;
	height: 1.5rem;
	background: #ff6801;
	border-radius: 4%;
	margin: 0.5rem 0 ;
	font-size: 0.52rem;
	color: #ffffff;
	text-align: center;
	line-height: 1.5rem;
}
.btn-1{
	width: 100%;
	height: 1.5rem;
	background:#ffffff;
	border-radius: 4%;
	margin: 0.5rem 0 ;
	font-size: 0.52rem;
	color: #030303;
	text-align: center;
	line-height: 1.5rem;
	box-sizing: border-box;
	border: 0.05rem solid #d4d4d4;
}
.else{
	height: 4.15rem;
	width: 100%;
	
}
.else-top{
	width: 100%;
	height: 1rem;
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.5rem 0;
	
}
.else-top div:first-child{
	width: 7rem;
	height: 0.1rem;
	background: beige;
}

.else-top div:last-child{
	width: 7rem;
	height: 0.1rem;
	background: beige;
}
.else-text{
	height: 0.5rem;
	width: 8rem;
	font-size: 0.35rem;
	text-align: center;
	line-height: 0.5rem;
}
.else-middle{
	width: 100%;
	height: 0.93rem;
	justify-content: center;
	display: flex;
}
.else-bottom-yuan1{
	width: 0.93rem ;
	height: 0.93rem;
	border-radius: 50%;
	margin: 0 0.4rem;
	background-image:url(../img/登录.png);
	background-color: #FF6700;
	background-size: auto 90%;
	background-position: -0.85rem 0.07rem;
	
}
.else-bottom-yuan2{
	width: 0.93rem ;
	height: 0.93rem;
	background: #000000;
	border-radius: 50%;
	margin: 0 0.4rem;
	background-image:url(../img/登录.png);
	background-color: #6bb7eb;
	background-size: auto 90%;
	background-position: -0.85rem 0.07rem;
}
.else-bottom-yuan3{
	width: 0.93rem ;
	height: 0.93rem;
	background-color: #00c200;
	border-radius: 50%;
	margin: 0 0.4rem;
	background-image:url(../img/登录.png);
	background-size: auto 90%;
	background-position: -0.85rem 0.07rem;
}
.else-bottom{
	width: 100%;
	height: 0.52rem;
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	color: #9f9f9f;
	
}
.else-bottom li:first-child{
	color: #474747;
}
.else-bottom-text{
	font-size: 0.42rem;
	height:0.52rem ;
	line-height: 0.52rem;
	
}
.else-bottom-1{
	font-size: 0.42rem;
	margin: 0 0.2rem;
	height:0.52rem ;
	line-height: 0.52rem;
	
}